<app-header></app-header>
    <div class="container">
        <router-outlet></router-outlet>
        <!--<app-reactive-forms></app-reactive-forms>-->
    </div>
<app-footer></app-footer>



<!--<h1><a [routerLink]="['/home']" routerLinkActive="active-route">home</a></h1>-->
<!--routerLink="home"-->

<!--<app-home></app-home>
<div class="container" style="margin-top: 200px;">
    <app-favorite-icon></app-favorite-icon>
    
</div>
<div class="container" style="margin-top: 200px;">
    <app-item>
            <ng-container class="heading">hellow</ng-container>
        <ng-container class="body">welcome</ng-container>
        
    </app-item>

</div>

<div class="container">
    <app-directives></app-directives>
</div>
<div class="container" style="margin-top: 200px;">
    <app-favorite-icon></app-favorite-icon>

</div>

-->